{% extends "base.html" %}

{% block content %}
<h1>Страница админа</h1>
<div class="'">
    <h2>{{user.login}}</h2>
    <a class="btn btn-secondary" href="/exit">Выйти</a>
</div><br>
<a class="btn col-lg-12 btn-warning" href="/order">Выдать новый заказ курьерам</a><br><br>
<div>
    <h3>Не назначенные заказы</h3>
    <table class="table table-warning table-hover">
        <thead>
        <td>#</td>
        <td>Вес</td>
        <td>Район доставки</td>
        <td>Возможные часы доставки</td>
        <td>Контактные данные</td>
        </thead>
        <tbody>
        {% for item in new_orders %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{item.weight}}</td>
            <td>{{regions[item.region]}}</td>
            <td>{% for el in item.delivery_hours %}{{el}}<br>{% endfor %}</td>
            <td>{{item.contact}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Выполненные заказы</h3>
    <table class="table table-success table-striped">
        <thead>
        <td>#</td>
        <td>Вес</td>
        <td>Район доставки</td>
        <td>Контактные данные</td>
        </thead>
        <tbody>
        {% for item in completed_orders %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{item.weight}}</td>
            <td>{{regions[item.region]}}</td>
            <td>{{item.contact}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <h3>Оплата работы курьеров</h3>
    {% for courier in payments%}
    <h4>{{courier}}</h4>
    {% if payments[courier] == [] %}
    <h3 class="alert alert-primary">У этого курьера нет не оплаченных заказов.</h3>
    {% else %}
    <table class="table table-primary table-hover">
        <thead>
        <td>#</td>
        <td>id заказа</td>
        <td>Сумма</td>
        <td></td>
        </thead>
        <tbody>
        {% for item in payments[courier] %}
        <tr>
            <td>{{loop.index + 1}}</td>
            <td>{{item.order_id}}</td>
            <td>{{item.sum}}</td>
            <td><a href="/pay/{{item.id}}" class="btn btn-info">Оплатить</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}