{% extends "base.html" %}

{% block content %}
<h1>Страница админа</h1>
<div class="'">
    <h2>{{user.login}}</h2>
    <a class="btn btn-secondary" href="/exit">Выйти</a>
</div><br>
<div>
    <h3>Оплата работы курьеров</h3>
    {% for courier in payments['couriers']%}
    <h4>{{courier}}</h4>
    {% if payments['orders'][courier] == [] %}
    <h3 class="alert alert-primary">У этого курьера нет не оплаченных заказов.</h3>
    {% else %}
    <table class="table table-primary table-hover">
        <thead>
        <td>#</td>
        <td>id заказа</td>
        <td>Сумма</td>
        <td></td>
        </thead>
        <tbody>
        {% for item in payments['orders'][courier] %}
        <tr>
            <td>{{loop.index + 1}}</td>
            <td>{{item.order_id}}</td>
            <td>{{item.sum}}</td>
            <td><a href="/pay/{{item.id}}" class="btn btn-info">Оплатить</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}