{% extends "base.html" %}

{% block content %}
<h1>Страница курьера</h1>
<div class="'">
    <h2>{{user.login}}</h2>
    <table class="table table-borderless">
        <tbody>
        <tr>
            <td style="color: black">Регион:</td>
            <td style="color: dark grey">{{regions[user.regions[0]]}}</td>
        </tr>
        <tr>
            <td style="color: black">Способ передвижения:</td>
            <td style="color: dark grey">{{user_types[user.courier_type]}}</td>
        </tr>
        <tr>
            <td style="color: black">Время работы:</td>
            <td style="color: dark grey">{{user.working_hours[0]}}</td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-secondary" href="/exit">Выйти</a>
    <a href="/change_profile" class="btn btn-secondary btn-fluid">Редактировать</a>
</div><br>
<div>
    <h3>Заказы в процессе</h3>
    <table class="table table-warning table-hover">
        <thead>
        <td>#</td>
        <td>Вес</td>
        <td>Район доставки</td>
        <td>Возможные часы доставки</td>
        <td>Контактные данные</td>
        <td></td>
        </thead>
        <tbody>
        {% for item in orders %}
        {% if item.completed == False %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{item.weight}}</td>
            <td>{{regions[item.region]}}</td>
            <td>{% for el in item.delivery_hours %}{{el}}<br>{% endfor %}</td>
            <td>{{item.contact}}</td>
            <td><a class="btn btn-info" href="/order_complete/{{item.order_id}}">Закончить заказ</a></td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <a class="btn col-lg-12 btn-warning" href="/orders_patch/{{user.id}}">Назначить новые заказы</a>
</div>
{% endblock %}