{% extends "base.html" %}

{% block content %}
<h1>Свободные заказы</h1>
<table class="table table-hover">
    <theader>
        <td>Вес заказа</td>
        <td>Регион доставки</td>
    </theader>
    <tbody>
    {% for item in orders['orders'] %}
    <tr>
        <td>{{item["weight"]}}</td>
        <td>{{item["region"]}}</td>
        {% if user %}
        <td>
            <button class="btn btn-alert">Взять заказ</button>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}