{% extends "base.html" %}

{% block content %}
<div class="container-fliud"><br>
    <div class="row">
        <div class="col-md-8" style="color: grey"><h3>На нашем сайте вы можете сделать заказ доставки чего угодно</h3></div>
        <div class="col-md-4"><a href="/order" class="btn btn-info" >Сделать заказ</a></div>
    </div>
</div>
<h1>Свободные заказы</h1>
<table class="table table-hover">
    <theader>
        <td>Вес заказа</td>
        <td>Район доставки</td>
        <td>Возможные часы доставки</td>
    </theader>
    <tbody>
    {% for item in orders %}
    <tr>
        <td>{{item.weight}}</td>
        <td>{{regions[item.region]}}</td>
        <td>{% for el in item.delivery_hours %}{{el}}<br>{% endfor %}</td>
        {% if user %}
        <td>
            <button class="btn btn-secondary">Взять заказ</button>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}